<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  <servlet-name>addCompanyServlet</servlet-name>
  <servlet-class>com.mosorg.sharestools.servlet.AddCompanyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>addCompanyServlet</servlet-name>
  <url-pattern>/company/add</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>delCompanyServlet</servlet-name>
  <servlet-class>com.mosorg.sharestools.servlet.DeleteCompanyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>delCompanyServlet</servlet-name>
  <url-pattern>/company/delete</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>modifyCompanyServlet</servlet-name>
  <servlet-class>com.mosorg.sharestools.servlet.ModifyCompanyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>modifyCompanyServlet</servlet-name>
  <url-pattern>/company/modify</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>queryCompanyServlet</servlet-name>
  <servlet-class>com.mosorg.sharestools.servlet.QueryCompanyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>queryCompanyServlet</servlet-name>
  <url-pattern>/company/query</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>loadCompanyServlet</servlet-name>
  <servlet-class>com.mosorg.sharestools.servlet.LoadCompanyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>loadCompanyServlet</servlet-name>
  <url-pattern>/company/load</url-pattern>
  </servlet-mapping>
</web-app>
